<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
</head>
<body>


 <a asp-area="" asp-controller="Home" asp-action="Food"><img src="fhttps://upload.wikimedia.org/wikipedia/commons/b/b9/Carp_fish.jpg" style="width:82px; height:86px" title="White flower" alt="Flower"></a>
</body>
</html>