@{
    ViewData["Title"] = "Index";
}

<h2>National Parks</h2>
<hr />

<div>
    <p>
        Click on images to get infor about various foods
    </p>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Display"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Carp_fish.jpg" style="width:82px; height:86px"></a> tab fetches parks data from the
    </p>
        
    <p>
        Following learning objectives are fulfilled -
        <ul>
            <li>Connection to REST API using API key.</li>
            <li>Consuming the data from the REST API.</li>
        </ul>
    </p>
</div>